@import '../../../style/utils/base.scss';

.service-grid {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3));
  position: relative;
  @media screen and (max-width: 601px) {
    height: 350px;
  }
}

// grid common design
.service-grid-content {
  position: absolute;
  bottom: 5%;
  left: 5%;
  .service-grid-title {
    h2 {
      color: white;
      font-weight: 800 !important;
      font-size: clamp(24px, 2.4vw, 4vw);
      margin: 0;
      padding-right: 3rem;
    }
  }
  .service-grid-buttons {
    margin-top: 5%;

    display: flex;
    align-items: center;
    // height: min-content;

    @media screen and (max-width: 601px) {
      flex-direction: column;
      gap: 5px;
    }

    .container {
      display: flex;
      align-items: center;
      padding: 0 !important;
      gap: 0 !important;

      @media screen and (max-width: 601px) {
        align-self: flex-start;
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 5px;

      height: 100%;

      padding: 10px 24px;
      background-color: white;
      color: #c7265b;

      @media screen and (max-width: 601px) {
        align-self: flex-start;
      }
      span {
        height: min-content;
      }
    }
    button {
      outline: none;
      border: none;
      padding: 10px 24px;
      font-size: calc(8px + 0.5vw);
      text-transform: capitalize;
      cursor: pointer;
      font-family: 'Graphik';
      @media screen and (max-width: 601px) {
        font-size: calc(12px + 0.5vw);
      }
    }
    .btn-route {
      background-color: white;
      color: #c7265b;
    }
    .btn-ongoing {
      background-color: #333;
      border: 1px solid #333;
      color: #fff;
    }
  }
}
