// ===========================================
// COLORS
// ===========================================

$color-primary: #c7265b;
$color-secondary: #f8d23a;
$color-secondary-blue: #2ba4c5;

$color-background-dark: #3a3b3a;
$color-background-light: #f1f2f2;
$color-background-white: #fff;

$color-text-dark: #3a3b3a;
$color-text-light: #ffffff;
$color-text-grey: #848484;
$color-text-midGrey: #ddd;
$color-text-darkGrey: #444;

$color-error: rgb(151, 61, 61);
$color-success: rgb(61, 151, 109);
