/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- desktop
- M-desktop
- big-desktop
*/
@font-face {
  font-family: "Graphik";
  src: url("./GraphikThin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikThinItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikExtralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikExtralightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikLightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegularItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikMediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSemibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBlackItalic.otf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSuper.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSuperItalic.otf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.home-brand-section {
  height: auto;
  padding: 10rem 2rem;
  background-color: #f1f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-brand-section .home-brand-collection {
  height: 80%;
  width: 90%;
}
.home-brand-section .home-brand-collection .brand-collection-header h2 {
  font-weight: 800;
  font-size: 5.8rem;
  color: #3a3b3a;
}
@media (max-width: 85.375em) {
  .home-brand-section .home-brand-collection .brand-collection-header h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 40em) {
  .home-brand-section .home-brand-collection .brand-collection-header h2 {
    font-size: 3.2rem;
  }
}
.home-brand-section .home-brand-collection .brand-collection-body {
  text-align: center;
  margin-top: 8rem;
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 85.375em) {
  .home-brand-section .home-brand-collection .brand-collection-body {
    grid-gap: 5rem;
  }
}
@media (max-width: 40em) {
  .home-brand-section .home-brand-collection .brand-collection-body {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}
.home-brand-section .home-brand-collection .brand-collection-body .brand-collection-body-image {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-brand-section .home-brand-collection .brand-collection-body .brand-collection-body-image a {
  height: 100%;
}
.home-brand-section .home-brand-collection .brand-collection-body .brand-collection-body-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=partners.css.map */