/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- desktop
- M-desktop
- big-desktop
*/
@font-face {
  font-family: "Graphik";
  src: url("./GraphikThin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikThinItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikExtralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikExtralightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikLightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegularItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikMediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSemibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikBlackItalic.otf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSuper.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikSuperItalic.otf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.mainContainer {
  padding: clamp(25px, 5vw, 50px);
  background-color: #3a3b3a;
}
.mainContainer h2 {
  font-size: 4.8rem;
  margin-bottom: 5rem;
  color: #fff;
}
@media (max-width: 40em) {
  .mainContainer h2 {
    font-size: 4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
@media screen and (max-width: 601px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.container h1 {
  font-size: clamp(100px, 20vw, 130px);
  font-weight: 900;
  line-height: 1.2;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #9d9d9d;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 85.375em) {
  .container h1 {
    font-size: clamp(100px, 20vw, 100px);
  }
}
.container h4 {
  color: #ddd;
  text-transform: capitalize;
  margin-top: 15px;
  font-size: clamp(16px, 2.2vw, 20px);
}
.container .top {
  position: relative;
  overflow: hidden;
}
.container .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.container .top .mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container a {
  text-decoration: none;
}
.container a:hover img {
  transform: scale(1.1);
}

.buttonContainer {
  padding: 5rem;
  text-align: center;
}
.buttonContainer a {
  border: 1px solid #fff;
  font-size: 1.9rem;
  padding: 1rem 3.5rem;
  color: #fff;
}
@media (max-width: 40em) {
  .buttonContainer a {
    font-size: 1.6rem;
  }
}
.buttonContainer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=news-views-more.css.map */