.response {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 400;
}

#contact-form {
  background: #f1f2f2;
  background-size: contain;
  padding: 50px 0px;
  margin-top: 40px;

  .contact-heading {
    font-family: 'Graphik Super';
    color: white;
    font-size: 70px;
    margin: 0px;
    line-height: 65px;
    display: block;

    &:after {
      content: '';
      display: block;
      margin: 0;
      width: 42%;
      padding: 5px 0 10px 0;
      border-bottom: 6px solid white;
    }
  }

  .form-container {
    padding-top: 60px;
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 601px) {
      width: 95%;
    }

    .form-input {
      width: 100%;
      padding: 1rem;
      font-size: 1.6rem;
      margin-top: 3rem;
      outline: none;
      &::placeholder {
        color: #3a3b3a;
        font-family: Graphik;
      }
    }

    textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #3a3b3a;

      &::placeholder {
        color: #3a3b3a;
        font-family: Graphik;
      }
    }
  }

  input.uk-input.form-input {
    background: transparent;
    border-bottom: 1px solid #3a3b3a;
    border-top: none;
    border-right: none;
    border-left: none;

    &::placeholder {
      color: #3a3b3a;
    }
  }

  textarea.uk-textarea.form-input {
    background: transparent;
    border-bottom: 1px solid #3a3b3a;
    border-top: none;
    border-right: none;
    border-left: none;

    &::placeholder {
      color: #3a3b3a;
    }
  }

  .text-container {
    width: 100%;
  }

  .submit-btn {
    margin: 0 auto;
    border: none;
    margin-top: 40px;
    display: block;

    img {
      height: 70px;
      width: 70px;
      object-fit: contain;

      @media screen and (max-width: 601px) {
        height: 60px;
        width: 60px;
      }
    }

    &:hover {
      position: relative;
      animation: moveimg 0.4s;
      animation-timing-function: linear;
    }
  }

  @keyframes moveimg {
    from {
      top: 0px;
    }
    to {
      bottom: 20px;
    }
  }
}
