.all-brands {
  width: 70%;
  margin-right: auto;
  padding-left: 5rem;

  @media screen and (max-width: 601px) {
    width: 100%;
    padding: 3%;
  }

  .flexContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.media-container-header {
  h1 {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 5rem;

    @media screen and (max-width: 601px) {
      font-size: 3.5rem;
    }
  }
}

#sub-brands {
  padding: 10rem 0;
  #studio {
    width: 500px !important;
  }
  .company-details-section {
    .company-name {
      font-size: 55px;
      font-weight: bold;
      font-family: 'Graphik';
      color: #3a3b3a;
      margin-bottom: 20px;
    }
    .company-info {
      font-size: 18px;
      font-weight: bold;
      font-family: 'Graphik';
      color: #3a3b3a;
      margin-top: 20px;
      p {
        font-weight: 300;
      }
    }
  }

  .brands-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5rem;

    @media screen and (max-width: 601px) {
      flex-direction: column;
      gap: 0;
    }

    img {
      width: 20rem;
      height: auto;
      object-fit: contain;
    }
  }
}
