@import '../../../style/utils/base.scss';

.stories-container {
  padding: 10% 5%;
  height: auto;
  background-image: url('../../../assets/images/footerBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  margin: 0 auto;
  @media screen and (min-width: 601px) {
    padding: 5% 5%;
  }
  // news grid
  .stories-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4%;
    @media screen and (min-width: 601px) {
      grid-template-columns: 1fr 1fr;
    }
    .stories-grid-left {
      position: relative;
      height: 400px;
      @media screen and (min-width: 1441px) {
        height: 500px;
      }
      .img-header {
        height: 100%;
        width: 100%;

        position: relative;

        &::before {
          content: '';
          display: block;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5),
            transparent 40%
          );

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h2 {
        font-size: 100px;
        font-weight: 900;
        text-transform: capitalize;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #f1f2f2;
        @media screen and (min-width: 601px) {
          font-size: 170px;
          bottom: -120px;
          -webkit-text-stroke: 2px #f1f2f2;
        }
        @media screen and (max-width: 600px) {
          bottom: -55px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .stories-grid-right {
      padding: 2.5%;
      overflow-y: scroll;
      height: 400px;
      @media screen and (min-width: 1441px) {
        height: 500px;
      }
      @media screen and (max-width: 600px) {
        margin-top: 2rem;
      }
      .stories-grid-card {
        padding: 2.5% 1%;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.1);
        margin-top: 4%;
        h5 {
          color: #f1f2f2;
          font-size: calc(10px + 1vw);
          font-weight: 700;
        }
        .card-footer {
          text-align: right;
          margin-top: 5%;
          a {
            padding: 1.5% 2%;
            border: 1px solid #f1f2f2;
            color: #c7265b;
            font-size: 1.8rem;

            @include response(phone) {
              font-size: 1.4rem;
              padding: 0.1% 2%;
              margin: 1rem 1rem 0.5rem;
              display: inline-block;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  // news footer
  .stories-footer {
    padding: 2.5%;
    margin-top: 4.5%;
    text-align: center;
    button {
      margin-top: 5%;
      @media screen and (max-width: 600px) {
        margin-top: 10%;
      }
      outline: 0;
      padding: 0.5% 1%;
      width: 170px;
      border: 1px solid #c7265b;
      background: inherit;
      text-transform: capitalize;
      color: #f1f2f2;
      font-size: 16px;
      cursor: pointer;
      .arrow-down {
        img {
          height: 12px;
          margin-left: 2.5%;
        }
      }
    }
    p {
      color: #f1f2f2;
    }
  }
  // slider
  .stories-slider {
    animation: visibleAnimate 0.3s linear;
    .new-slide-card {
      padding: 0 2.5%;
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
      h3 {
        color: #f1f2f2;
        font-size: calc(10px + 1vw);
        font-weight: 700;
      }
      p {
        color: #f1f2f2;
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7265b;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@keyframes visibleAnimate {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
